# Auto detect text files and perform LF normalization
* text=auto
*.tif filter=lfs diff=lfs merge=lfs -text
tracking_cells_A529.gif filter=lfs diff=lfs merge=lfs -text
tracking_cells_CHO.gif filter=lfs diff=lfs merge=lfs -text
tracking_cells_MDA231.gif filter=lfs diff=lfs merge=lfs -text
tracking_pst_A529.gif filter=lfs diff=lfs merge=lfs -text
tracking_pst_CHO.gif filter=lfs diff=lfs merge=lfs -text
tracking_pst_MDA231.gif filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
